---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import PostMeta from '../components/PostMeta.astro';

type Props = CollectionEntry<'blog'>['data'] & { wordCount: number; readingMinutes: number };
const { title, description, pubDate, updatedDate, tags, wordCount, readingMinutes } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
	<head><BaseHead title={`${title} | losh`} description={description} /></head>
	<body>
		<Header />
		<main>
			<article class="prose">
				<header class="article-header">
					<h1>{title}</h1>
					<p>{description}</p>
					<PostMeta {pubDate} {updatedDate} {tags} {wordCount} {readingMinutes} />
				</header>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
